body {
  background-color: #EDEFF0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 25px;
}

.sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.sidebar > ul {
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

.sidebar > ul > li {
  padding: 20px;
}

h1 {
  color: #DD5555;
  font-size: 23px;
}

img {
  width: 90px;
  padding: 10px 15px 10px 0px;
}

div > h2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}

h3 {
  font-size: : 18px;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

li > a {
  color: #c9c9c9;
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  color: #DD5555;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
}

.fa {
  font-size: 30px;
}

.container {
  width: 500px;
  margin: 0 auto;
  margin-left: 300px;
}

.img_circle {
  border-radius: 50%;
  width: 180px;
  padding: 0;
}

#profile {
  border: 3px solid #d6d6d6;
}

.card {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 20px auto;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #d6d6d6;
}

.text-center {
    text-align: center;
}

#movies-table {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
}
